<form class="box" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  
    <div class="padding margin-top">
        <label >
            Email:
            <input class="email" type="text" formControlName="email" >
            <div *ngIf="f.email.touched && 
                        f.email.errors && 
                        f.email.errors.required">Email is required</div>

            <div *ngIf="f.email.touched && 
                        f.email.errors && 
                        f.email.errors.email">Please enter valid email</div>
        </label>
    </div>

    <div class="padding">
        <label >
            Password:
            <input class="password" type="password" formControlName="password" >
            <div *ngIf="f.password.touched  && 
                        f.password.errors && 
                        f.password.errors.minlength">password min length is 6</div>

            <div *ngIf="f.password.touched && 
                        f.password.errors && 
                        f.password.errors.required">password is required</div>
        </label>
    </div>  
    <button class ="btn submit" type="submit" [disabled]="!loginForm.valid">Submit</button>
</form>